/* Zera padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Centraliza tudo na página */
body {
    background: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Limita largura do conteúdo */
.container {
    width: 500px;
    text-align: center;
}

/* ---- TITULOS ---- */
header h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}

.subtitulo {
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    font-style: italic;
}

/* ---- CAIXA DA SENHA ---- */
.caixa-senha {
    background: #1d1d1d;
    padding: 15px;
    border-radius: 12px;

    display: flex;
    gap: 12px;
    align-items: center;

    width: 100%;
    margin-bottom: 30px;
}

.caixa-senha input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
}

.caixa-senha button {
    background: #555;
    border: none;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: 0.2s;
}

.caixa-senha button:hover {
    background: #fff;
    color: #000;
}

/* ---- CARD ---- */
.card {
    background: #1d1d1d;
    padding: 20px;
    width: 100%;
    border-radius: 12px;
    color: white;

    box-shadow: 0 0 4px #ffffff55;
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card label {
    display: block;
    margin-bottom: 5px;
}

.card input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    background: #2c2c2c;
    border: none;
    border-radius: 6px;
    color: #fff;
}

/* Opções */
.opcao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 16px;
}

.opcao input {
    transform: scale(1.3);
    accent-color: #fff;
}

/* Footer */
footer {
    margin-top: 25px;
    text-align: center;
    color: #000;
    font-style: italic;
}